<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.mynextlevel">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNextLevel">
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".SetReminders"
            android:exported="false" />
        <activity
            android:name=".MyMedication"
            android:exported="false" />
        <activity
            android:name=".HealthTips"
            android:exported="false" />
        <activity
            android:name=".MyReminders"
            android:exported="false" />
        <activity
            android:name=".AddMedication"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>